<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: DarkSlateBlue;
}

title {
  color: goldenrod;
  text-align: center;
  font-family: verdana;
  font-size: 25px;
}

h1 {
  color: goldenrod;
  text-align: center;
  font-family: verdana;
  font-size: 25px;
}

h2 {
  color: goldenrod;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}

p {
  color: white;
  font-family: arial;
  font-size: 20px;
}

</style>
</head>
<body>

<title>Calculadora Financeira</title>
<meta charset="utf-8">
<h1>Calculadora Financeira</h1>
<h2>Bem-vindo! Aqui você pode calcular seus investimentos de forma rápida e fácil.</h2>
<center><h2>Para você, quanto vale o seu dinheiro?</h2></center>
<p>Já possui uma conta?</p>

<br>
<form action="/signin" method="POST">
<input type="submit" value="Login">
</form>
</br>

<br>
<p>Ainda não possui uma conta?</p>
<form action="/register" method="POST">
<input type="submit" value="Cadastro">
</form>
</br>


</html>