<!DOCTYPE html>
<html>
<head>
      <!-- Bootstrap core CSS -->
      <link href= "{{url_for('static', filename = 'css/bootstrap.min.css' ) }}" rel="stylesheet">

<style>
body {
  background-color: DarkSlateBlue;
}
.bg{
  background-size: cover;
  background-image: url('static/calculadoras.jpg');
  background-repeat: no-repeat; 
  height: 100%;
}
h1 {
  color: whitesmoke;
  text-align: center;
  font-family: verdana;
  font-size: 30px;
}

p {
  font-family: arial;
  font-size: 20px;
}
label{
color: whitesmoke;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<title>bitcoin</title>
<body class="bg">
<meta charset="utf-8">
<h1>Calculadora de Bitcoins</h1>
<br></br>
<label for="Inv_inicial">Valor:</label>

<input type="number" id="Inv_inicial" name="Inv_inicial"><br><br>
</select>
<label for="Taxa">Taxa de câmbio:</label>
<input type="number" id="Taxa" name="Taxa"> 
<select id ="pTaxa_inv" class="selecao" onclick="select()">
                
                    <option selected value="selecionar" >Selecionar</option>
                    <option  value="Real/BTC" >Real/BTC</option>
                    <option value="BTC/Real">BTC/Real</option>    
                    <option  value="Dólar/BTC" >Dólar/BTC</option>
                    <option value="BTC/Dólar">BTC/Dólar</option>         
               </select>
                <br><br><button type="button" class="btn btn-dark"onclick="calcular()">Calcular</button> <br><label for="valorfinal"></br>Valor final = </label> 
<script>                
function select() {
    var taxa = document.getElementById('Taxa')
    var tipo_taxa = document.getElementById('pTaxa_inv')
    if(tipo_taxa.value=='Real/BTC'){
        taxa.value = 1/{{ btc_real }}
    }
    else if(tipo_taxa.value=='BTC/Real'){
        taxa.value = {{ btc_real }}
    }
    else if(tipo_taxa.value=='Dólar/BTC'){
        taxa.value = 1/{{ btc_dolar }}
    }
    else if(tipo_taxa.value=='BTC/Dólar'){
        taxa.value = {{ btc_dolar }}
    }
    else{
     taxa.value = 0
    }
}
</script>

<script> 
function investimento() {
    
 return valorfinal.value
}
</script>

<script>
function calcular(){
                var_quant = 0;
        var investimentoinicial = document.getElementById("Inv_inicial").value;
        var taxa = document.getElementById("Taxa").value;
        var var_quant = investimentoinicial*taxa;
        document.getElementById("vf").value = var_quant.toFixed(2);
    }
</script>

<input type="number" id="vf" name="vf">
<br></br>
<br>
<form action="/home" method="POST">
  <input type="submit" value="Voltar para a homepage">
</form>
</br>
<body>
</form>
</html>